.header {
    background: #fff;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, 0.12);
    padding: 1em;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 1.2em;
    margin-bottom: 4px;

    .logo {
        height: 25px;
        margin-right: 5px;
        vertical-align: text-top;
    }
}
