#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.45rem;
}

.app {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: space-between;
  min-width: 320px;
  min-height: calc(100vh - 2.9rem);
  text-align: center;
}

.logo {
  height: 18em;
  max-width: 100%;
}

h1 {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-size: 2.8em;
  font-style: normal;
  margin: .25em 0;
  color: #444;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.buttons button {
  margin: 0.2em 0;
  display: block;
  width: 100%;
}
