$font-stack: "Noto Serif", serif;
$primary-color: #000000;
$title-color: #444444;
$gray-color: #666666;

@mixin title-font() {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-size: 2.8em;
    font-style: normal;
    color: $title-color;
}

@mixin flex-center() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
