@import './common.scss';

:root, p, button, div, a, span {
    font-family: $font-stack !important;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: $primary-color;
}

body {
    margin: 0;
    padding: 0;

    a {
        font-weight: 500;
        color: #646cff;
        text-decoration: inherit;
    }

    .MuiButton-root {
        font-weight: bold;
        line-height: 2;
    }

    .btn-orange {
        background: $orange-color;
        color: white;

        span {
            color: white;
        }
    }

    .btn-orange:hover {
        background: $warning-color;
        color: white;
    }

    .btn-outlined-dark {
        border: 1px $dim-color solid !important;
        color: $primary-color !important;
    }

    .btn-outlined-dark:hover {
        background: $dim-color;
        color: white !important;
    }

    .btn-rounded {
        border-radius: 25px;
    }

    .subtitle {
        font-weight: bold;
        margin: 1em 0;
    }
}

